body {
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 3em;
    color: #61dafb;
}

h2 {
    font-size: 5em;
    margin: 20px 0;
    color: #ffffff;
}

button {
    background-color: #61dafb;
    color: #282c34;
    border: none;
    padding: 15px 25px;
    font-size: 1.5em;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #4fa8c7;
}